# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
personas/4
personas/5
/.pnp
.pnp.js

# testing
/coverage

# gatsby
.cache/
public/

# misc
.DS_Store
.env\*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log\*