/*
	Entitiy
*/
.entity {
	margin-top: 3rem;
}

.entity__header {
	position: relative;
	overflow: hidden;
	border-radius: 2px;
}
.entity__header:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(
		-180deg,
		rgba(0, 44, 67, 0) 51%,
		rgba(0, 24, 36, 0.7) 99%
	);
	z-index: 1;
}

.entity__photo:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid rgba(0, 24, 36, 0.12);
	z-index: 2;
}

.entity__photo {
	margin: 0;
	position: relative;
}

.entity__photo img {
	width: 100%;
	display: block;
}

.entity__title {
	padding: 0.8rem 1.2rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
}

.entity__title h4,
.entity__title h4 a {
	color: #ffffff;
	margin: 0;
}

.entity__title h4 a {
	border-bottom-color: rgba(255, 255, 255, 0.24);
}

.entity__title p {
	color: #e6ecf0;
	margin: 0;
}

/*
	Responsive
*/
@media only screen and (min-width: 683px) {
	.entity__header {
		position: relative;
		overflow: hidden;
		border-radius: 2px;
	}
	.entity__header:before {
		display: none;
	}
	.entity__photo {
		width: 15%;
		float: left;
		overflow: hidden;
		margin-right: 2rem;
		border-radius: 2px;
	}

	/* Title */
	.entity__title {
		padding: unset;
		position: relative;
		right: auto;
		bottom: auto;
		left: auto;
	}

	.entity__title h4,
	.entity__title h4 a {
		color: #004d76;
	}

	.entity__title h4 a {
		color: #004d76;
		border-bottom-color: rgba(0, 132, 203, 0.09);
	}

	.entity__title p {
		color: #788085;
	}

	.entity__desc {
		margin-left: 15%;
		padding-left: 2rem;
		margin-top: -3rem;
	}
}

@media only screen and (min-width: 768px) {
	.entity__photo {
		width: 15%;
		float: left;
		overflow: hidden;
		margin-right: 2rem;
		border-radius: 2px;
	}

	.entity__title {
		margin-top: 1.5rem;
	}

	.entity__desc {
		margin-left: 25%;
		padding-left: 2rem;
		margin-top: -8rem;
	}
}
