.block--personas {
	position: relative;
}
.block--personas:after {
	content: '';
	position: absolute;
	right: 0;
	top: 1px;
	bottom: 0;
	width: 40px;
	background-image: linear-gradient(90deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
	touch-action: none;
	pointer-events: none;
}

.personas {
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	-webkit-overflow-scrolling: touch;
}

.personas__scroller {
	width: 400vw;
	display: inline-flex;
	padding-right: 20px;
}

.personas__mention {
	background: #FFFFFF;
	border: 1px solid #E6ECF0;
	box-shadow: 0px 2px 0 rgba(0,0,0,0.02);
	border-radius: 2px;
	padding: 1rem;
	margin-left: 20px;
	margin-top: 0;
	transition: transform 0.12s linear, border-color 0.06s linear;
	position: relative;
	font-style: normal;
}

.personas__mention:after {
	content: none;
	display: none;
}

.personas__mention:hover,
.personas__mention:focus,
.personas__mention:active {
	border: 1px solid #B9C1C6;
	box-shadow: 0px 2px 0 rgba(0,0,0,0.04);
	transform: translate3d(0,4px,0);
}

.personas__mention:active {
	background-color: #F8FBFD;
	border: 1px solid #B9C1C6;
	box-shadow: inset 0px 2px 0 rgba(0,0,0,0.04);
	transform: translate3d(0,4px,0);
}

.personas__mention:after {
	transition: opacity 0.08s linear;
}

.personas__mention:active:after {
	position: absolute;
	z-index: 0;
	border: 1px solid #B9C1C6;
	content: '';
	top: 2px;
	bottom: 2px;
	right: 2px;
	left: 2px;
	border-radius: 1px;
	opacity: 1;
}

.personas__mention cite img {
	height: 48px;
	border-radius: 2px;
	display: block;
}

.personas__mention p {
	margin-bottom: 0.5em;
}

.personas__mention p a {
	font-weight: 400;
	border: none;
	font-style: normal;
}

.personas__mention cite span {
	display: none;
}

.personas__mention time {
	font-size: 0.9rem;
}

@media only screen and (min-width: 871px) {
	.personas__scroller {
		width: 150vw;
	}

	.block--personas:after {
		width: 160px;
	}

	.personas__mention:first-child {
		margin-left: 80px;
	}
	.personas__mention:last-child {
		margin-right: 80px;
	}
}