---
# this is an empty front matter
---
<!DOCTYPE html>
<html class="no-js gr__bed_money" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- CSS STYLES -->
		<link rel="stylesheet" href="/assets/css/master.css?v=1694366882" />
		<link rel="stylesheet" href="/assets/css/layout.css?v=1694366882" />
		<link rel="stylesheet" href="/assets/css/widgets.css?v=1694366882" />
		<link rel="stylesheet" href="/assets/css/personas.css?v=1694366882" />
		<link rel="stylesheet" href="/assets/css/entity.css?v=1694366882" />
		<link rel="stylesheet" href="/assets/css/interview.css?v=1694366884" />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:wght@300;400;500&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
		<!-- META DATA -->

		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="HandheldFriendly" content="True" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="white" />

		<title>🛏.💵 - Bitcoin Every Day</title>
		<meta
			name="description"
			content="Stories of stuggle and ways that people interact with money in different parts of the world"
		/>
		<meta
			name="keywords"
			content="bed money, mattress money, user research, user interviews, use cases, bitcoin"
		/>
		<meta name="author" content="BED.MONEY" />
		<meta name="company" content="BED.MONEY" />
		<meta name="copyright" content="Copyright (c) 2020 Peak Shift Ltd." />

		<link rel="shortcut icon" type="image/png" href="/assets/i/favicon.png" />

		<link rel="next" href="/personas/" />

		<meta name="application-name" content="BED.MONEY" />
		<meta name="msapplication-TileColor" content="#0084CB" />

		<meta property="og:url" content="https://bed.money" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="BED.MONEY" />
		<meta property="og:site_name" content="BED.MONEY" />
		<meta property="og:image" content="assets/i/share-image.png" />
		<meta
			property="og:description"
			content="Stories of how people interact with money in different parts of the world"
		/>

		<meta name="twitter:card" content="photo" />
		<meta name="twitter:site" content="@peakshift" />
		<meta name="twitter:title" content="BED.MONEY" />
		<meta name="twitter:image" content="assets/i/share-image.png" />
		<meta name="twitter:image:width" content="1200" />
		<meta name="twitter:image:height" content="630" />
	</head>

	<body class="home" data-gr-c-s-loaded="true">
		<div id="page-top">
			<header id="masthead">
				<a id="logo" href="/">
					🛏<br />
					💵
				</a>
				<h2 class="page-title">{{page.title}}</h2>
				<p class="lead mb0">{{page.environment}}</p>
			</header>
		</div>

		<div id="page-mid">
			<div class="block block--interview">
				<section class="mb3">
					{{page.content}}
				</section>
			</div>

			<div class="block block--personas">
				<section class="mb0">
					<h4 class="">Personas</h4>
				</section>
				<div class="personas">
					<div class="personas__scroller">
{% assign personas = site.personas | where: "currency", "{{page.currency}}" %}
{% for persona in personas %}
						<blockquote class="personas__mention">
							<p class="mt0 mb1">
								<strong><small>PERSONA {{persona.participant | truncate: 4, ""}}</small></strong
								><br />
								<a href="{{persona.url}}">{{persona.title}}</a>
							</p>
{% if persona.tags %}
							<time class="mb0 mt0">
{% for tag in persona.tags %}
								<span class="tag tag--primary">{{tag}}</span>&nbsp;
{% endfor %}
							</time>
				</p>
{% endif %}
						</blockquote>
{% endfor %}
{% if personas.size < 2 %}
 						<blockquote class="personas__mention">
							<p class="mt0 mb1">
								<strong><small>PERSONA 0x00</small></strong
								><br />
								<em>More Comming Soon...</em>
							</p>
							<time class="mb0 mt0">
								<span style="opacity: 0;" class="tag tag--primary">📍 Rwanda</span>&nbsp;
								<span style="opacity: 0;" class="tag tag--primary">🏦 Bank</span
								>&nbsp;
								<span style="opacity: 0;" class="tag tag--primary"
									>💸 Mobile Money</span
								>&nbsp;
								<span style="opacity: 0;" class="tag tag--primary"
									>💳 Debit Card</span
								>&nbsp;
								<span style="opacity: 0;" class="tag tag--primary"
									>📱 Android</span
								>&nbsp;
								<span style="opacity: 0;" class="tag tag--primary"
									>💻 Desktop/Laptop</span
								>&nbsp;
								<span style="opacity: 0;" class="tag tag--primary"
									>☁️ Google Drive (free)</span
								>
							</time>
						</blockquote>
{% endif %}
 					</div>
				</div>

		</div>

		<div id="page-bottom">
			<footer>
				<p class="muted">Copyright &copy; 2020 &mdash; <a href="https://peakshift.com">Peak Shift Ltd</a>.</p>
			</footer>
		</div>
	</body>
</html>